:root {
    --cream: #f9ead1;
    --brown: #3d2b1f;
    --sage: #8f9d89;
    --rose: #a37c76;
    --tag: #efd6ab;
    --footer: #3d281d;
  
    --display: "Playfair Display", Georgia, serif;
    --serif: "Libre Baskerville", Georgia, serif;
    --body: "Libre Caslon Display", Georgia, serif;
  }
  
